.ecss-selector-unnecessary h2 {
	margin-top: 20px;
}

.ecss-selector-unnecessary header {
	background-color: blue;
	padding: 20px;
}

.ecss-selector-unnecessary {
	& h2 {
		color: grey;
	}

	& > ul > li {
		display: flex;
	}
}

.ecss-selector-unnecessary ~ ul li {
	display: block;
}

.ecss-selector-unnecessary-section a {
  color: #fcfcfc;
}

.ecss-selector-unnecessary-section ul {
  color: #fcfcfc;
}

.ecss-selector-unnecessary-footer ul {
  color: #fcfcfc;
}


.ecss-selector-unnecessary-footer > li a {
  color: #fcfcfc;
}

