.ecss-class-numbered {
	display: block;

	&.as-col-4 {
		display: block;
	}

	& .__grid-3 {
		color: blue;
	}
}

.ecss-class-numbered {
	&.as-h2 {
		display: block;
	}
}

.ecss-class-numbered {
	& h3 {
		display: block;
	}
}

.ecss-class-numbered:nth-of-type(4) {
	display: block;
}
