.ecss-filename {
	display: block;
}

.ecss-filename {
	display: block;

	&.__input {
		display: block;
	}

	& div {
		display: block;
	}

	&.as-grid {
		display: grid;
	}
}

:is(.ecss-filename, .ecss-filename-bla) {
	display: block;
}

:where(.ecss-filename, .ecss-filename-bla) {
	display: block;
}

:where(.ecss-filename) {
	display: block;
}

:is(.ecss-filename) {
	display: block;
}

@keyframes test {
	0% {
		color: black;
	}
	100% {
		color: white;
	}
}

* ~ .ecss-filename {
	display: flex;
}
*+.ecss-filename {
	display: flex;
}
