.ecss-content-block p {
	display: block;
}

.ecss-content-block {
	& h2 {
		display: block;
	}
}

.ecss-content-block {
	& p {
		display: inline;
	}
}

.ecss-content-block h3 {
	display: inline-block;
}

.ecss-content-block p {
	display: flex;

	&::before {
		flex-shrink: 1;
	}
}

.ecss-content-block h2 {
	display: inline-flex;

	&::before {
		flex-shrink: 1;
	}
}
.ecss-content-block h1 {
	display: contents;
}
