.ecss-selector-dimensions {
	height: 500px;
	max-height: 100vh;
}

.ecss-selector-dimensions {
	height: 100%;
}

.ecss-selector-dimensions {
	max-height: 500px;
	height: 500px;
}

.ecss-selector-dimensions {
	height: 500px;

	& .__child {
		height: 400px;
	}

	&.is-variant {
		max-height: 400px;
	}
}
