.ecss-not-class:not(a) {
	display: inline;
}

.ecss-not-class :not(span) {
	display: inline;
}

.ecss-not-class:not(:hover) .__conteneur {
	display: block;
}

.ecss-not-class:not([class]) {
	display: block;
}
