.ecss-class-child-prefix {
	& .__child {
		position: relative;
	}

	& .is-variant {
		display: block;
	}

	& .as-grid {
		display: grid;
	}

	& .to-left {
		position: relative;
	}

	& .for-menu-toggling {
		position: sticky;
	}

	& .on-hover:hover {
		color: aqua;
	}
}

:is(.ecss-class-child-prefix, .ecss-class-child-prefix) {
	display: block;
}

.ecss-class-child-prefix {
	display:  block;
}

.ecss-class-child-prefix .__child {
	display: block;
}

.ecss-class-child-prefix, .ecss-class-child-prefix-two {
	display: block;
}
