.ecss-class-child-prefix {
	& .child {
		display: block;
	}

	& .variant {
		display: block;
	}
}

.ecss-class-child-prefix .child-fail {
	display: block;
}

[id=ecss-class-child-prefix] .child-fail {
	position: relative;
}

.ecss-class-child-prefix .child-fail,
.ecss-class-child-prefix .__child-pass {
	display: block;
}

