.ecss-selector-dimensions img {
	width: 500px;
	height: 500px;
}

.ecss-selector-dimensions input {
	width: 500px;
}

.ecss-selector-dimensions {
	overflow: auto;
	max-height: 100dvh;
	min-height: 50dvh;

	& .__logo {
		height: 500px;
	}

	&.is-variant img {
		height: 10rem;
	}
}
