.ecss-flex-children {
	display: flex;

	& .__child {
		align-self: center;
	}
}

.ecss-flex-children {
	display: inline-flex;

	& .__child {
		flex-grow: 1;
	}

	&::before {
		flex-grow: 1;
	}

	&:after {
		flex-shrink: 2;
	}
}

.ecss-flex-children {
	display: flex;

	@media (min-width: 600px) {
		& .__child {
			flex-grow: 1;
		}
	}
}
