.ecss-flex-children {
	display: block;

	& .__child {
		flex-grow: 1;
	}
}

.ecss-flex-children {
	flex-shrink: 0;
}

.ecss-flex-children {
	@media (min-width: 600px) {
		& .__child {
			flex-grow: 1;
		}
	}
}
