.ecss-content-padding {
	background-color: red;
	padding: 20px;
}

.ecss-content-padding {
	& header {
		background-color: red;
		padding: 20px;
	}
}

.ecss-content-padding h2 i {
	background-color: inherit;
	padding: 10px;
}

.ecss-content-padding h2 {
	&>i {
		background-color: inherit;
		padding: 10px;
	}
}
