.flex-children {
	display: flex;

	&.is-variant-error {
		flex-shrink: 1;
	}

	& .child-pass {
		flex-grow: 1;
	}
}

.flex-children-error {
	display: flex;
	flex-grow: 1;

	&.is-variant-error {
		flex-grow: 1;
	}

	& .child {
		flex-grow: 1;
	}
}

.flex-children-with-indy-prop {
	display: flex;
	margin: 0;

	&.variant-error {
		flex-grow: 1;
	}

	& .child {
		flex-grow: 1;
		color: red;
		display: block;
	}
}
